/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px ;
    padding: 0px;
  background-color: var(--background);

/* font-family: 'Open Sans', sans-serif; */
font-family: 'Roboto', sans-serif;
}
.icons {
    color: var(--text);
    cursor: pointer;
}

.container {
  border: 1.5px solid;
  height: calc(100vh - 7rem);
  margin: 1rem;
  border-radius: 30px;
  background-color: var(--background2);
  /* position: inherit; */
}
/* color variable  */

/* :root {
    --background: #2D033B;
    --background2: #810CA8;
    --background3: #C147E9;
    --text: #E5B8F4;
} */
/* :root { 
    --background: #352F44;
    --background2: #5C5470;
    --background3: #B9B4C7;
    --text: #FAF0E6;
} */
:root {
    --background: #27374D;
    --background2: #526D82;
    --background3: #9DB2BF;
    --text: #DDE6ED;
}

/* green  */
/* :root {
    --background: #0F0F0F;
    --background2: #232D3F;
    --background3: #005B41;
    --text: #00bda4;
} */